* {
  /* กำหนด font ให้กับเว็บไซต์ */
  font-family: Arial, Helvetica, sans-serif;

  /* กำหนดรูปแบบ link */
  text-decoration: none;

  margin:0 ;
  padding: 0;
  box-sizing: 0;
}
  /* -------tadla style-------*/
  /*----ตั้งค่าการแสดงผลของตาราง----*/
.styled-table {
  width: 100;
  border-color: collapse;
  margin: 25px 0 ;
  font-family: Arial, Helvetica, sans-serif;
}
/* ตกแต่งตาราง */
.styled-table th {
background-color: rgb(73, 28, 177);
color: rgb(243, 248, 246);
text-align: center;
padding: 15px 15px;
}
/* ตกแต่งแถวของตาราง */
.styled-table{
  font-size: 14px;
  text-align: center;
  padding: 8px 12px;
  /* border: 1 solid */
}
.styled-table tr :hover {
  background-color: rgb(240, 191, 240);
}
 /* ตกแต่งเส้นขอบตาราง */
 .styled-table, .styled-table th, .styled-table td {
  border: 1px solid rgb(47, 240, 150);
 }

/*------------------Menu-------------------*/

.container{
  max-width: 1140px;
  margin: 0 auto;
}
nav{
  background-color: #474849;
  overflow: hidden;
}
.nav-con{
  display: flex;
  justify-content: space-between;
  list-style: none;
  margin-left: 10px;
  padding: 14px 16px;
}
.menu{
  display: flex;
  overflow: hidden;
}
.menu li{
  float: left;
  color: #001aff;
  list-style: none;
  margin-left: 10px;
  padding: 14px 16px;
}
.menu a:hover{
  background-color: #f41c1c;
}
.menu a:active{
  background-color: #25ed40;
  text-decoration: none;
}
a{
  color: #ffffff;
}
.logo{
  font-size: 30px;
}

/*--------------dropdownmenu---------------*/
/*navbar container*/
.navbar{
  overflow: hidden;
  background-color: #474849;
  /* font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif; */
}
/*link inside navbar*/
.navbar a {
  float: left;
  font-size: 14px;
  color: #ffffff;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}
/*dropdown-container*/
.dropdown{
  float: left;
  overflow: hidden;
}
/*dropdown-btn*/
.dropdown .dropbtn{
  font-size: 14px;
  border: none;
  outline: none;
  color: #ffffff;
  padding: 14px 16px;
  background-color: inherit;
  margin: 0;
}
.navbar a:hover, .dropdown:hover .dropbtn{
  background-color: #f41c1c;
}

.dropdown-content{
  display: none;
  position: absolute;
  background-color: #ffffff;
  min-width:160px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
}
/*Link inside dropdown*/
.dropdown-content a{
  float: none;
  color: #000;
  padding: 14px 16px;
  text-decoration: none;
  display: block;
  text-align: left;
}
.dropdown-content a:hover{
  background-color: #ddd;
}

.dropdown:hover .dropdown-content{
  display: block;
}
